extends layout

block content

  h1 Privacy Notice

  p The Spacecubed Projectr all takes a public feed of Instagram and Twitter from around the Perth area in Western Australia. Projectr will never post or undertake any operations on anyone's behalf, it purely views read-only information.

  p If you have any issues with your content being displayed, contact us on #[a(href="mailto:info@spacecubed.com") info@spacecubed.com] and we'll make every effort to prevent your content from being displayed on our wall.
